export LB_LAUNCHBAR_PATH="/Applications/LaunchBar.app"
export LB_ACTION_PATH="$PWD/"
export LB_CACHE_PATH="/tmp/me.launchbar.askchatgpt/Cache"
export LB_SUPPORT_PATH="/tmp/me.launchbar.askchatgpt/Support"
export LB_DEBUG_LOG_ENABLED="0"
export LB_SCRIPT_TYPE="default"
export LB_OPTION_COMMAND_KEY="0"
export LB_OPTION_ALTERNATE_KEY="1"
export LB_OPTION_SHIFT_KEY="0"
export LB_OPTION_CONTROL_KEY="0"
export LB_OPTION_SPACE_KEY="0"
export LB_OPTION_RUN_IN_BACKGROUND="0"
export LB_OPTION_LIVE_FEEDBACK="0"

source_env_if_exists .envrc.local